[Unit]
Description=UMB Ground Station
After=network.target gpsd.service
Wants=network.target

[Service]
Type=simple
ExecStart=/data/umbgs
Restart=always
RestartSec=5
WatchdogSec=120
Environment=GOGC=50
StandardOutput=journal
StandardError=journal
SyslogIdentifier=umbgs

[Install]
WantedBy=multi-user.target
